<launch>

    <build_depend>message_generation</build_depend>
    <exec_depend>message_runtime</exec_depend>

    <include file="$(find bluerov_sim)/launch/gazebo_base.launch"/>

    <include file="$(find bluerov_sim)/launch/spawn_vehicle.launch">
        <arg name="z" value="-0.3"/>
    </include>

    <node name="experiment_parameters" pkg="depth_controller" type="set_parameters.py" output="screen" />

    <node name="mixer" pkg="depth_controller" type="mixer.py" output="screen" />

    <node name="depth_setpoints" pkg="depth_controller" type="depth_setpoint.py" output="screen" />
    
    <node name="state_estimator" pkg="depth_controller" type="state_estimator.py" output="screen" />

    <node name="controller" pkg="depth_controller" type="controller.py" output="screen" />

    <node name="record" pkg="rosbag" type="record" args="-o /home/rene/fav/bagfiles/bag /depth_setpoint /parameters /mavros/setpoint_motor/setpoint /state /vertical_thrust /control_error /pressure /clock /rosout"/>

</launch>
